/* add your own styles here */

body{
    background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 100%, rgba(0,173,238,1) 100%);
}

button {
    padding: 20px;
    color: black;
    border-radius: 100%;
}

#helpbtn {
    margin-bottom: 100px;
}

.container {
    text-align: center;
}

.help-container {
    margin-left: 100px;
    margin-right: 100px;
}

.led-container {
    margin-left: 160px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.button-container {
    margin-left: 50px;
    margin-right: 50px;
}

.indicator {
    width: 50px;
    height: 50px;
    color: gray;
    margin: 5px;
}

.red {
    background-color: rgb(130, 21, 21);
}

.yellow {
    background-color: rgb(142, 126, 0);
}

.green {
    background-color: rgb(11, 92, 30);
}